form {
    width: 83%;
    max-width: 24em;
    margin-left: auto;
    margin-right: auto;
}

input[type=text],
input[type=email],
input[type=password],
.btn {
    background-color: $main;
    padding: 0.5em 0.75em;
    font-weight: 700;
    border: none;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    color: #000;
    border-bottom: 0.25em solid lighten($secondary, 16%);
}

.btn,
input[type=submit] {
    border-bottom: 0.25em solid darken($secondary, 8%);
    display: block;
    line-height: 1.2;
    background-color: $secondary;
    color: $main;

    &:active {
        border: none;
        transform: translateY(0.25em);
    }

    &:disabled,
    &:disabled:hover,
    &:disabled:active {
        background-color: #aaa;
        color: #666;
        transform: none;
        border: none;
        cursor: default;
    }
}

.btn--large,
input[type=submit] {
    background-color: darken($secondary, 4%);
    padding: 1em 2em;
}

.btn-standalone,
input[type=submit] {
    float: right;
}

.on-send-message {
    transform: translateY(-100%);
    padding: 0.75em 1.5em;
    color: $main;
    font-weight: 700;
    text-align: center;
    border-radius: 0 0 0.5em 0.5em;

    position: fixed;
    top: 0;
    width: 83%;
    left: 8.5%;
    box-shadow: 0 0 1em rgba(25, 25, 25, 0.5);
    transition: transform 0.2s ease-in;

    &.displayed {
        transform: translateY(0);
        transition: transform 0.3s ease-out;
    }

    @media screen and (min-width: 50em) {
        width: 40%;
        left: 30%;
    }
}
.on-send-message--success {
    background-color: green;
}
.on-send-message--error {
    background-color: red;
}
