*, *:before, *:after {
   -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html {
    background: $secondary;
    color: $main;
}
body {
    max-width: 44em;
    margin: 0 auto;
    padding: 12px;
    padding: 0.75rem;
}
img {
    max-width: 100%;
}


h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre,
hr,

.page-header,
.page-content,
.offices--list,
.offices--list-item,
input[type=text],
input[type=email],
input[type=password],
.btn {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}
ol,
ul,
blockquote {
    padding-left: 48px;
    padding-left: 3rem;
}
li ul,
li ol {
    margin-bottom: 0;
}


/**
 * Clearfix ALL THE THINGS
 */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
