.page-header {
    @extend .clearfix;

    padding: 0.75rem 0;
    text-align: center;
}

.site-logo {
    display: inline-block;
}

.site-nav--list {
    display: inline-block;
    padding-left: 0;
    list-style: none inside;
    margin-bottom: 0;
}
.site-nav--list-item {
    display: inline-block;
    margin-left: 1.5em;
    margin-bottom: 0.75em;
}
.site-nav--link {
    display: block;
    text-decoration: none;
    color: $main;
    font-weight: 700;
    background-color: lighten($secondary, 4%);
    padding: 0.75em 1.25em;
    border-bottom: 0.25em solid lighten($secondary, 16%);
}
