.page-content--home {
    
}
.offices--list {
    padding-left: 0;
    list-style: none inside;
}
.offices--list-item {
    @extend .clearfix;

    background-color: $main;
    color: #444;
    padding: 1.5rem;
    border-bottom: 0.25em solid lighten($secondary, 16%);

    .img {
        display: block;
        line-height: 0;
        width: 49%;
        float: left;
        margin: 0 2% 0.625em 0;
        border: 0.0625em solid #444;

        @media screen and (min-width: 50em) {
            width: 23.5%;
        }
    }

    .details {
        float: left;
        width: 49%;

        @media screen and (min-width: 50em) {
            width: 74.5%;
        }
    }

    p {
        margin-bottom: 0.75rem;
    }

    .office-meta {
        @extend .clearfix;

        > * {
            display: inline-block;
            vertical-align: baseline;
            text-align: left;
            margin-right: 1.5em;
        }

        a {
            text-decoration: underline;
        }
    }
}
.office--full {
    position: relative;
    
    &:before {
        content: "volgeboekt!";
        font-size: 1.5em;
        position: absolute;
        display: inline-block;
        top: 0.75em;
        left: -0.5em;
        background-color: red;
        color: white;
        padding: 0.5em 1.5em 0.5em 1.5em;
        font-weight: 900;
        border-bottom: 0.25em solid darken(red, 16%);
    }

    &:after {
        content: "";
        height: 0;
        width: 0;
        top: 0.6em;
        left: -0.75em;
        position: absolute;
        border-left: 0.6em solid transparent;
        border-right: 0.6em solid transparent;
        border-bottom: 0.6em solid darken(red, 16%);
        transform: rotate(135deg);
    }
}
.office-streetname {
    margin-top: 0;
    border-bottom: 0.125em solid #444;
}
