.page-content--office-details {
    @extend .clearfix;
    padding: 1.5rem;
    background-color: $main;
    color: #444;
    border-bottom: 0.25em solid lighten($secondary, 16%);
}

.office-details-img {
    float: left;
    width: 50%;
    border: 0.0625em solid $secondary;
    margin: 0 1.5em 0.75em 0;
}

.office-availability {
    @extend .clearfix;
    clear: both;
    padding-top: 1.5em;
    text-align: justify;

    > * {
        display: inline-block;
        text-align: left;
        vertical-align: baseline;
    }

    .costs,
    .availability {
        margin-right: 1.5em;
    }
}
