html {
    font: 300 0.875em/1.5 /*"Merriweather", */serif;
    color: whitesmoke;

    @media screen and (min-width: 50em) {
        font-size: 1em;
    }
}

h1, h2, h3, h4 {
    font-weight: 900;
}
h4 {
    margin: 0 0 0.25rem;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
