/* normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: #34495e;
  color: whitesmoke; }

body {
  max-width: 44em;
  margin: 0 auto;
  padding: 12px;
  padding: 0.75rem; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre,
hr,
.page-header,
.page-content,
.offices--list,
.offices--list-item,
input[type=text],
input[type=email],
input[type=password],
.btn {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

ol,
ul,
blockquote {
  padding-left: 48px;
  padding-left: 3rem; }

li ul,
li ol {
  margin-bottom: 0; }

/**
 * Clearfix ALL THE THINGS
 */
.clearfix:after, .page-header:after, .page-content:after, .offices--list-item:after, .offices--list-item .office-meta:after, .page-content--office-details:after, .office-availability:after {
  content: "";
  display: table;
  clear: both; }

.page-header {
  padding: 0.75rem 0;
  text-align: center; }

.site-logo {
  display: inline-block; }

.site-nav--list {
  display: inline-block;
  padding-left: 0;
  list-style: none inside;
  margin-bottom: 0; }

.site-nav--list-item {
  display: inline-block;
  margin-left: 1.5em;
  margin-bottom: 0.75em; }

.site-nav--link {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 700;
  background-color: #3b536b;
  padding: 0.75em 1.25em;
  border-bottom: 0.25em solid #517293; }

form {
  width: 83%;
  max-width: 24em;
  margin-left: auto;
  margin-right: auto; }

input[type=text],
input[type=email],
input[type=password],
.btn {
  background-color: whitesmoke;
  padding: 0.5em 0.75em;
  font-weight: 700;
  border: none; }

input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  color: #000;
  border-bottom: 0.25em solid #517293; }

.btn,
input[type=submit] {
  border-bottom: 0.25em solid #253544;
  display: block;
  line-height: 1.2;
  background-color: #34495e;
  color: whitesmoke; }
  .btn:active,
  input[type=submit]:active {
    border: none;
    transform: translateY(0.25em); }
  .btn:disabled, .btn:disabled:hover, .btn:disabled:active,
  input[type=submit]:disabled,
  input[type=submit]:disabled:hover,
  input[type=submit]:disabled:active {
    background-color: #aaa;
    color: #666;
    transform: none;
    border: none;
    cursor: default; }

.btn--large,
input[type=submit] {
  background-color: #2d3f51;
  padding: 1em 2em; }

.btn-standalone,
input[type=submit] {
  float: right; }

.on-send-message {
  transform: translateY(-100%);
  padding: 0.75em 1.5em;
  color: whitesmoke;
  font-weight: 700;
  text-align: center;
  border-radius: 0 0 0.5em 0.5em;
  position: fixed;
  top: 0;
  width: 83%;
  left: 8.5%;
  box-shadow: 0 0 1em rgba(25, 25, 25, 0.5);
  transition: transform 0.2s ease-in; }
  .on-send-message.displayed {
    transform: translateY(0);
    transition: transform 0.3s ease-out; }
  @media screen and (min-width: 50em) {
    .on-send-message {
      width: 40%;
      left: 30%; } }

.on-send-message--success {
  background-color: green; }

.on-send-message--error {
  background-color: red; }

.offices--list {
  padding-left: 0;
  list-style: none inside; }

.offices--list-item {
  background-color: whitesmoke;
  color: #444;
  padding: 1.5rem;
  border-bottom: 0.25em solid #517293; }
  .offices--list-item .img {
    display: block;
    line-height: 0;
    width: 49%;
    float: left;
    margin: 0 2% 0.625em 0;
    border: 0.0625em solid #444; }
    @media screen and (min-width: 50em) {
      .offices--list-item .img {
        width: 23.5%; } }
  .offices--list-item .details {
    float: left;
    width: 49%; }
    @media screen and (min-width: 50em) {
      .offices--list-item .details {
        width: 74.5%; } }
  .offices--list-item p {
    margin-bottom: 0.75rem; }
  .offices--list-item .office-meta > * {
    display: inline-block;
    vertical-align: baseline;
    text-align: left;
    margin-right: 1.5em; }
  .offices--list-item .office-meta a {
    text-decoration: underline; }

.office--full {
  position: relative; }
  .office--full:before {
    content: "volgeboekt!";
    font-size: 1.5em;
    position: absolute;
    display: inline-block;
    top: 0.75em;
    left: -0.5em;
    background-color: red;
    color: white;
    padding: 0.5em 1.5em 0.5em 1.5em;
    font-weight: 900;
    border-bottom: 0.25em solid #ad0000; }
  .office--full:after {
    content: "";
    height: 0;
    width: 0;
    top: 0.6em;
    left: -0.75em;
    position: absolute;
    border-left: 0.6em solid transparent;
    border-right: 0.6em solid transparent;
    border-bottom: 0.6em solid #ad0000;
    transform: rotate(135deg); }

.office-streetname {
  margin-top: 0;
  border-bottom: 0.125em solid #444; }

.page-content--office-details {
  padding: 1.5rem;
  background-color: whitesmoke;
  color: #444;
  border-bottom: 0.25em solid #517293; }

.office-details-img {
  float: left;
  width: 50%;
  border: 0.0625em solid #34495e;
  margin: 0 1.5em 0.75em 0; }

.office-availability {
  clear: both;
  padding-top: 1.5em;
  text-align: justify; }
  .office-availability > * {
    display: inline-block;
    text-align: left;
    vertical-align: baseline; }
  .office-availability .costs,
  .office-availability .availability {
    margin-right: 1.5em; }

.page-content--login .page-title {
  text-align: center; }

.page-content--signup .page-title {
  text-align: center; }

html {
  font: 300 0.875em/1.5 serif;
  color: whitesmoke; }
  @media screen and (min-width: 50em) {
    html {
      font-size: 1em; } }

h1, h2, h3, h4 {
  font-weight: 900; }

h4 {
  margin: 0 0 0.25rem; }

p {
  margin-top: 0; }

a {
  text-decoration: none;
  color: inherit; }

.page-footer {
  text-align: center;
  font-size: 0.875em;
  color: #517293; }
  .page-footer a {
    text-decoration: underline; }
